body{

}
.pagination p{
  text-align: center;
  margin: auto;
}
h2{
  margin-top: 100px;
  text-align: center;
}
.modal{
  width: 900px;
}

.dropdown{
  margin-left: 30px;
  display: inline;
}
#srchtxt{
  margin-left: 20px;
}

.custom-select{
  max-width: 250px;
}

.nav-item{
  margin-right:20px;
  background-color: rgb(110, 7, 79);
  border-radius: 15px;
  padding: 10px;
}

.main-nav{
  text-align: center;
  margin-top: 30px;
}
.heading-nav{
  margin-top: 100px;
  text-align: center;
}