body{

}
.pagination p{
  text-align: center;
  margin: auto;
}
h2{
  margin-top: 100px;
  text-align: center;
}
.modal{
  width: 900px;
}

.dropdown{
  margin-left: 30px;
  display: inline;
}
#srchtxt{
  margin-left: 20px;
}